select {
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
}

h3 {
  font-family: sans-serif;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  /*height: 50em;*/
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

.flex-container > header {
  color: orange;
  flex: 1 100%;
  height: 5em;
  background: gray;
  font-family: Satisfy;
  font-weight: 100;
  text-shadow: 2px 2px 3px black;
}

.sidebar__left {
  flex-grow: 1;
}

.sidebar__right {
  flex-grow: 1;
}

.flex-item {
  background: lightyellow;
  padding: 10px;
  /* The width property here is important. Explain why */
  width: 100px;
  border: 1px solid rgba(0,0,0,.2);
  height: 20em;
  color: orange;
  font-size: 2em;
  text-align: center;
}

button {
  display: inline-block;
  margin: 0 5px;
}

#sandwich p {
  padding: 0.1em;
  margin: 0.1em;
}

/*.sidebar__right > div {
  float: left;
  margin: 5px;
}

#sandwich-build {
  display: block;
}*/









